## 1. pandas 데이터 프레임

In [2]:
import pandas as pd

## 리스트에서 데이터 프레임 생성하기

In [4]:
rowFirst = ["A01", 202015, 100]
rowSecond = ["A01", 202016, 110]
rowThird = ["A01", 202017, 150]

In [13]:
df1 = pd.DataFrame([rowFirst, rowSecond, rowThird])

In [14]:
columnName = ["REGIONID", "YEARWEEK", "QTY"]

In [15]:
df1.columns = columnName

In [16]:
columnFirst = ["A0","A01", "A01"]
columnSecond = [202015,202016,202017]
columnThird = [100,110,150]

In [17]:
df2 = pd.DataFrame(zip(columnFirst, columnSecond, columnThird))

In [18]:
df2.columns = columnName

In [19]:
df2

  REGIONID  YEARWEEK  QTY
0       A0    202015  100
1      A01    202016  110
2      A01    202017  150

### 1. 라이브러리 선언

In [3]:
from bs4 import BeautifulSoup # 태그를 아름답게 뜬다.
import requests # 웹페이지 접속 요청

### 2. 타겟 URL 선언 및 접속

In [4]:
targetUrl = "http://www.sparkkorea.com/퀴즈"

resp = requests.get(url=targetUrl)

resp.encoding="utf-8"

html=resp.text

htmlObj = BeautifulSoup(html, "html.parser") 
htmlObj

### 3. 태그값 접근하기

### 1. find로 범위를 좁힌다
### 2. findAll 을 활용해서 반복하여 수집한다.

In [9]:
htmlObj.findAll(name="a", limit = 3)

[<a class="skip-link screen-reader-text" href="#content">컨텐츠로 건너뛰기</a>,
 <a href="https://sparkkorea.com/" rel="home">
 					스파크 코리아				</a>,
 <a href="https://sparkkorea.com/%ec%9e%90%eb%a3%8c%ec%8b%a4/">자료실</a>]

In [10]:
targetParent = htmlObj.find(name="div", attrs = {"id":"id_spark_quiz"})

In [11]:
targetParent

<div class="class_spark_quiz" id="id_spark_quiz">
<h1>Spark 퀴즈 </h1>
<a href="https://forms.gle/Fw49w9GhWQChDcZm7"> 6/13 Spark 심화과정 </a>
<p></p>
<a href="https://forms.gle/G4TcXm3fKuHLHA6D6"> 6/13 Spark 기본과정 </a>
<p></p>
<a href="https://forms.gle/M8gr1kC2ubA3UDVp8"> 6/18 Spark [MAP_FILTER] </a>
<p></p>
<a href="https://forms.gle/h8w5mZ4MNaPLCPbi6"> 6/18 Spark GroupBy 심화 </a>
<p></p>
<a href="https://forms.gle/q5yL6QHfueDLM5w27"> 6/25 Spark RDD 실전 분석 </a>
<p></p>
<a href="https://forms.gle/Gxb4y6LfVYiaLu4M7"> 6/27 Spark RDD 실전 분석2 </a>
<p></p>
</div>

In [12]:
valueList = []
valueList2 = []

In [13]:
atags = targetParent.findAll(name= "a")
atags

[<a href="https://forms.gle/Fw49w9GhWQChDcZm7"> 6/13 Spark 심화과정 </a>,
 <a href="https://forms.gle/G4TcXm3fKuHLHA6D6"> 6/13 Spark 기본과정 </a>,
 <a href="https://forms.gle/M8gr1kC2ubA3UDVp8"> 6/18 Spark [MAP_FILTER] </a>,
 <a href="https://forms.gle/h8w5mZ4MNaPLCPbi6"> 6/18 Spark GroupBy 심화 </a>,
 <a href="https://forms.gle/q5yL6QHfueDLM5w27"> 6/25 Spark RDD 실전 분석 </a>,
 <a href="https://forms.gle/Gxb4y6LfVYiaLu4M7"> 6/27 Spark RDD 실전 분석2 </a>]

In [14]:
for i in range(0,len(atags)):
    # 각 태그정보 수집
    eachTag = atags[i]
    tagText = eachTag.text
    # 리스트에 태그 내 text 정보 append
    valueList.append(tagText)

In [17]:
valueList

[' 6/13 Spark 심화과정 ',
 ' 6/13 Spark 기본과정 ',
 ' 6/18 Spark [MAP_FILTER] ',
 ' 6/18 Spark GroupBy 심화 ',
 ' 6/25 Spark RDD 실전 분석 ',
 ' 6/27 Spark RDD 실전 분석2 ']

In [16]:
resultDf = pd.DataFrame(valueList,columns = ["퀴즈타이틀"])

In [156]:
resultDf

                       퀴즈타이틀
0           6/13 Spark 심화과정
1           6/13 Spark 기본과정
2   6/18 Spark [MAP_FILTER]
3     6/18 Spark GroupBy 심화
4      6/25 Spark RDD 실전 분석
5     6/27 Spark RDD 실전 분석2

In [157]:
for i in range(0,len(atags)):
    # 각 태그정보 수집
    eachTag = atags[i]
    tagText = eachTag.attrs["href"]
    # 리스트에 태그 내 text 정보 append
    valueList2.append(tagText)

In [158]:
valueList2

['https://forms.gle/Fw49w9GhWQChDcZm7',
 'https://forms.gle/G4TcXm3fKuHLHA6D6',
 'https://forms.gle/M8gr1kC2ubA3UDVp8',
 'https://forms.gle/h8w5mZ4MNaPLCPbi6',
 'https://forms.gle/q5yL6QHfueDLM5w27',
 'https://forms.gle/Gxb4y6LfVYiaLu4M7']

In [174]:
DataFrame2=pd.DataFrame(zip(valueList,valueList2))

In [177]:
columnTitle = ["퀴즈타이틀", "URL"]

In [179]:
DataFrame2.columns = columnTitle

In [180]:
DataFrame2

                       퀴즈타이틀                                  URL
0           6/13 Spark 심화과정   https://forms.gle/Fw49w9GhWQChDcZm7
1           6/13 Spark 기본과정   https://forms.gle/G4TcXm3fKuHLHA6D6
2   6/18 Spark [MAP_FILTER]   https://forms.gle/M8gr1kC2ubA3UDVp8
3     6/18 Spark GroupBy 심화   https://forms.gle/h8w5mZ4MNaPLCPbi6
4      6/25 Spark RDD 실전 분석   https://forms.gle/q5yL6QHfueDLM5w27
5     6/27 Spark RDD 실전 분석2   https://forms.gle/Gxb4y6LfVYiaLu4M7

In [4]:
!pip show bs4

Name: bs4
Version: 0.0.1
Summary: Screen-scraping library
Home-page: https://pypi.python.org/pypi/beautifulsoup4
Author: Leonard Richardson
Author-email: leonardr@segfault.org
License: MIT
Location: c:\users\smart-07\anaconda3\lib\site-packages
Requires: beautifulsoup4
Required-by:

## 테이블 스크랩

In [5]:
from bs4 import BeautifulSoup

In [6]:
import requests, bs4
import pandas as pd

#웹페이지 html 소스 가져오기
targetUrl = "http://sparkkorea.com/테스트"

resp = requests.get(url=targetUrl)

resp.encoding="utf-8"

html = resp.text

htmlObj = BeautifulSoup(html, "html.parser")

In [215]:
tableTag=htmlObj.find(name ="table", attrs = {"id":"test_table"} )

In [216]:
tbodyTag=tableTag.find(name="tbody")

In [217]:
rowList = []
columnList = []

In [218]:
trs = tbodyTag.find_all("tr")

In [219]:
for j in range(0,len(trs)):
    eachTr = trs[j]
    tds = eachTr.find_all("td")

    for i in range(0,len(tds)):
        eachTd = tds[i]
        columnList.append(eachTd.text)

# 한 행의 수집완료된 컬럼 값을 rowList에 붙인다.
    rowList.append(columnList)
# 다음 행의 컬럼을 다시 담기 위해 columnList를 초기화한다.
    columnList = []

In [220]:
pd.DataFrame(rowList)

     0    1
0  101  김효관
1  102  이순신
2  103  김어진