In [2]:
hour=17
minute=44
now=hour+minute
print(now)

61

In [9]:
# 현재 시간의 시간정보를 가져온다
currentTime = 2
currentMinutes = 25

In [10]:
# 현재 시간 및 분 정보를 더한다
sumTimeMinutes = currentTime + currentMinutes

In [11]:
# 결과 값을 출력한다.
print(sumTimeMinutes)

27

In [12]:
# 날짜계산 라이브러리 (datetime) 선언
import datetime as dt

In [ ]:
# 현재 날짜정보 불러오기
# 현재 시간 및 분 정보 저장

In [15]:
a=2
b=3

In [19]:
# print 문 \n : 한줄 띄기, \t : 탭만큼 띄기

문자

In [22]:
firstLetter = "smart 'fintech' lecture"

In [24]:
print(firstLetter)

smart "fintech" lecture

In [ ]:
"smart" "fintech"

In [ ]:
inputVal1 = 1
inputVal2 = "1"

In [28]:
"*"*3

'***'

In [29]:
# 연, 주차 정보 길이 설정
YEARLEN = 4
WEEKLEN = 2

#입력 데이터
inValue = "202103"

In [31]:
inValue[0:YEARLEN]

'2021'

In [ ]:
# 첫번째 인덱스는 포함, 마지막 인덱스는 포함X

In [ ]:
yearInfo = inValue[:YEARLEN]

In [32]:
len(inValue)

6

In [ ]:
weekInfo = inValue [YEARLEN:]
weekInfo

In [33]:
#문자열 개수세기 (count)
yearweek = "2017W28W"
print(yearweek.count("W"))

2

In [36]:
inValue = "21W03"

In [37]:
inValue.index("W")

2

In [39]:
letters = "LeD_tv"

In [40]:
letters.upper()

'LED_TV'

In [41]:
letters.lower()

'led_tv'

In [46]:
userInput = "haiteam" 
dbValue = "HAITEAM"

In [47]:
userInput.upper()==dbValue.upper()

True

In [48]:
userInput.lower()==dbValue.lower()

True

In [49]:
repLetters = "2017W28"
print(repLetters.replace("W","_"))

2017_28

In [51]:
yearweek_list= yearweek.split("W")
print(yearweek_list)

['2017', '28', '']

In [52]:
a="haiteam            seoul"
b="team           busan"

In [53]:
a.replace("   ","").replace("   ","_")

'haiteamseoul'

In [54]:
"2018W01".split("W")

['2018', '01']

In [55]:
outValue = "2018W01".split("W")

In [60]:
orgValue = "1234"

In [ ]:
# int(정수), float(실수)

In [61]:
newValue = int(orgValue)

In [ ]:
type(orgValue)

In [73]:
targetValue = "Sec 20180212 250"

In [106]:
stock_name = print(targetValue[0:3])
date=print(targetValue[4:12])
value =print(targetValue[-3:])

Sec
2018W28
250

In [77]:
targetValue="Sec 2018W28 250"

In [109]:
targetValue="Sec 2018W28 250"
stock_name = targetValue[0:3]
stock_name_upper = stock_name.upper() #stock_name 대문자로 변환
print(stock_name_upper)

date=targetValue[4:11]
print(date.replace("W"," ")) #W 삭제

value = targetValue[-3:]
print(value)

SEC
2018 28
250

In [11]:
##교수님 답안
## 샘플데이터
targetValue = "Sec 2018W12 250" ##데이터 분류 선행 (ex.띄어쓰기를 기준으로 분리하겠다)

#입력데이터를 대문자로 변환한다.
targetValue = targetValue.upper()

#date 컬럼내 삭제 문자열 ("W") 및 구분자를 선언한다.
delchar = "W"
delimeter = " "

#stockName, date, value 값을 추출한다.
delimeterIndex = targetValue.index(delimeter)

stockName = targetValue[:delimeterIndex]

leftedValue = targetValue[delimeterIndex+1:]
delimeterIndex = leftedValue.index(delimeter)
date = leftedValue[:delimeterIndex].replace(delchar,"")

value = leftedValue[delimeterIndex+1:]
value

print(stockName, date, value)

SEC 201812 250

리스트

In [4]:
emptyList=[]

In [6]:
priceList = [100,150,300,1000]

In [7]:
priceList[0]

100

In [8]:
stockList =[["sec","201801",100],
           ["posco","201801",200]]

In [9]:
stockList[0]

['sec', '201801', 100]

In [10]:
stockList[0][1] ## 복합리스트

'201801'

In [13]:
priceList=[100,150,300,1000]

In [16]:
sum(priceList)

1550

In [17]:
print(max(priceList))
print(min(priceList))
print(sum(priceList))
print(len(priceList))

1000
100
1550
4

In [21]:
sum(priceList) / len(priceList)  ##평균 직접 구해야함

387.5

In [22]:
initList = [100,200,300,400]

In [27]:
# 인덱스 활용
initList[0:3] #0,1,2 인덱스 선택
# 리스트는 집합이기 때문에 집합연산이 필수
sum(initList) #sum, len, min, max
# 리스트는 수정 가능
initList[2]=1000000
initList
initList.remove(400)

In [28]:
initList.append(30)

In [30]:
# 리스트의 유용한 함수
initList.count(2500)

0

In [2]:
testList = [120,150,300,500,1000,100,2000]

In [3]:
testList.remove(max(testList))
testList.remove(min(testList))

print(sum(testList) / len(testList))

414.0

In [1]:
testString = "korea"

In [2]:
testString = \
    testString.replace("kor","cor")

In [3]:
testString

'corea'

In [15]:
testList=[1,2,3,4]

In [16]:
testList.remove(2)

In [17]:
testList

[1, 3, 4]

In [10]:
a=3.2
a

3.2

In [13]:
stringValue ="10"
intValue=3
int(stringValue)+intValue

13

In [5]:
import pandas as pd

In [9]:
customerData = pd.read_csv("../dataset/kopo_customerdata.csv")
customerTotalList= customerData["TOTAL_AMOUNT"].tolist()

In [14]:
customerTotalList.sort()

In [16]:
import pandas as pd

customerData = pd.read_csv("../dataset/kopo_customerdata.csv")
customerTotalList= customerData["TOTAL_AMOUNT"].tolist()

customerTotalList.sort()

maxData = max(customerTotalList) #최대값
minData = min(customerTotalList) #최소값

cntmaxData = customerTotalList.count(maxData) #최대값 개수
cntminData = customerTotalList.count(minData) #최소값 개수

lenData = len(customerTotalList)- cntmaxData - cntminData
sumData = sum(customerTotalList) - (maxData*cntmaxData) - (minData*cntminData)

average = sumData/lenData

print(average)

35248.91490376756

In [22]:
import pandas as pd

customerData = pd.read_csv("../dataset/kopo_customerdata.csv")
customerTotalList= customerData["TOTAL_AMOUNT"].tolist()

customerTotalList.sort()

In [27]:
#최솟값, 최댓값 구하기
minValue = min(customerTotalList) 
maxValue = max(customerTotalList) 

#최솟값, 최댓값의 중복값 구하기
countminValue = customerTotalList.count(minValue)
countmaxValue = customerTotalList.count(maxValue)

#중복값 제외한 리스트 구하기
newCustomerList = customerTotalList[countminValue: -countmaxValue]

#평균값
average= sum(newCustomerList)/len(newCustomerList)
print(average)

35248.91490376756

### customerdata amount_price 최소 최대값을 뺀 평균을 구한다.

In [1]:
import pandas as pd

In [2]:
csData = pd.read_csv("../dataset/kopo_customerdata.csv")

In [3]:
csData

,CUSTOMERCODE,STATENAME,ST,GENDER,DOB,GENDER1,EMAIL,FEST_CNT,TOTAL_AMOUNT,AC_AMOUNT,AV_AMOUNT,HA_AMOUNT,EMI_CE_AMOUNT,IS_HIGHEND,CNT_VIST,GAP_VISIT
0,1503989,State2,2,Male,0,1,1,0,30300,0,30300,0,0,0,1,0
1,1190338,State2,2,Male,0,1,0,1,46500,0,46500,0,0,0,1,0
2,1424715,State2,2,Female,0,2,0,0,22700,0,0,22700,0,0,1,0
3,2483305,State2,2,Male,0,1,0,1,31400,0,31400,0,0,0,1,0
4,1178802,State2,2,Male,0,1,0,1,44900,0,0,44900,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299995,465757,State1,1,Male,0,1,0,0,40600,0,40600,0,0,0,1,0
299996,1890264,State1,1,Male,0,1,0,1,48000,48000,0,0,0,0,1,0
299997,1857537,State1,1,Female,0,2,0,0,32300,0,0,32300,0,0,1,0
299998,2209324,State1,1,Male,0,1,0,1,48500,0,48500,0,0,0,1,0
299999,1875146,State1,1,Male,0,1,0,1,16500,0,0,16500,0,0,1,0

In [4]:
amountList = csData.TOTAL_AMOUNT.tolist()

In [5]:
amountList.sort()

In [6]:
amountList

[0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 600,
 600,
 700,
 800,
 800,
 900,
 900,
 900,
 900,
 1000,
 1000,
 1100,
 1100,
 1100,
 1100,
 1100,
 1100,
 1100,
 1200,
 1300,
 1300,
 1300,
 1400,
 1400,
 1400,
 1500,
 1500,
 1500,
 1500,
 1600,
 1600,
 1600,
 1600,
 1600,
 1600,
 1600,
 1600,
 1600,
 1700,
 1700,
 1700,
 1700,
 1700,
 1700,
 1800,
 1800,
 1800,
 1800,
 1800,
 1900,
 1900,
 2000,
 2000,
 2000,
 2000,
 2000,
 2000,
 2000,
 2000,
 2000,
 2000,
 2000,
 2100,
 2100,
 2100,
 2100,
 2100,
 2100,
 2100,
 2100,
 2100,
 2100,
 2100,
 2100,
 2200,
 2200,
 2200,
 2200,
 2200,
 2200,
 2200,
 2200,
 2200,
 2200,
 2200,
 2200,
 2200,
 2200,
 2200,
 2200,
 2200,
 2200,
 2200,
 2200,
 2200,
 2200,
 2200,
 2200,
 2200,
 2200,
 2300,
 2300,
 2300,
 2300,
 2300,
 2300,
 2300,
 2300,
 2300,
 2300,
 2300,
 2300,
 2300,
 2300,
 2300,
 2300,
 2300,
 2300,
 2300,
 2300,
 2300,
 2300,
 2300,
 2300,
 2300,
 2300,
 2300,
 2300,
 2300,
 2300,
 2300,
 2300,
 2300,
 2300,
 2300,
 2300,
 2300,
 2300,
 2300,
 2300,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2400,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 2500,
 ...]

In [ ]:
### 문제. TOTAL_AMOUNT의 평균을 구한다 (최소/최대값 모두 제거)
### Step1 : 데이터를 정렬한다.(오름차순)
### Step2 : 최소값 최대값을 계산한다.
### Step3 : 최소값 최대값 각각의 개수를 산출한다.
### Step4 : 평균계산 = 초기리스트합 - (최소값*최소값개수) - (최대값*최대값개수)
###                    / 초기리스트개수 - (최소값개수) - (최대값개수)

### Step1 : 데이터를 정렬한다.(오름차순)

In [8]:
amountList.sort()

### Step2 : 최소값 최대값을 계산한다.

In [9]:
minValue = min(amountList)
maxValue = max(amountList)

### Step3 : 최소값 최대값 각각의 개수를 산출한다.

In [10]:
minValuCnt = amountList.count(minValue)
maxValuCnt = amountList.count(maxValue)

### Step4 : 평균계산

In [ ]:
 # 초기리스트합 - (최소값 '*' 최소값개수) - (최대값*최대값개수)

In [ ]:
finalSum = sum(amountList)- (minValue*minValueCnt) - (maxValue*maxValueCnt)

In [ ]:
finalLen = len(amountList)-minValueCnt - maxValueCnt

In [ ]:
answer = sum(amountList) - (minValue*minValueCnt) - (maxValue*maxValueCnt)/ \
         (len(amountList)-minValueCnt - maxValueCnt)

In [ ]:
answer

# 튜플

In [16]:
priceList = [100,200,150,170]

In [17]:
priceTuple1 = (100,200,150,170)

In [19]:
priceSet1 = {100,150,200,170}
priceSet2 = {100,139,210,170}

In [ ]:
# 2020년도 1~6주차 데이터가 다 있는지 확인한다.

In [27]:
allWeek = {1,2,3,4,5,6}

In [28]:
existWeek = {1,2,3,5,6}

In [30]:
allWeek - existWeek

{4}

In [ ]:
202001,202002,202003,202005,202006

In [24]:
priceSet1.intersection(priceSet2)

{100, 170}

In [23]:
priceSet1.difference(priceSet2)

{150, 200}

In [31]:
priceTuple1=(100,200,150,170)

In [32]:
priceList = [10,20,30,40]

In [34]:
priceDict = {"price" : priceList,
             "yearweek":[202001,202002,202003,202004]}

In [38]:
priceDict["price"]

[10, 20, 30, 40]

In [35]:
import pandas as pd

In [36]:
pd.DataFrame(priceDict)

   price
0     10
1     20
2     30
3     40

In [39]:
dic = {"name":"sec","id":"300000","address":"suwon"}

In [40]:
del dic["id"]
print(dic)

{'name': 'sec', 'address': 'suwon'}

In [41]:
dic = {"name":"sec","id":"300000","address":"suwon"}

In [43]:
dic.pop("id")
print(dic)

{'name': 'sec', 'address': 'suwon'}

In [47]:
import pandas as pd

In [48]:
productID =["LEDTV", "LEDTV","LEDTV","LEDTV"]
yearweekList = [202101,202102,202103,202104]
volValueList = [100,120,130,140]

In [49]:
productIdDict={"productdict" : productId,
               "yearweekList" : yearweekList,
               "volume": volValueList}

NameError: name 'productId' is not defined

In [ ]:
columnName = ["PRODUCT","YEARWEEK", "VOLUME"]

In [51]:
pd.DataFrame([
 ["A01","202001",100],       # 1행 데이터
 ["A01","202002",12],        # 2행 데이터
 ["A01","202003",130]]       # 3행 데이터

SyntaxError: unexpected EOF while parsing (<ipython-input-51-3623ac41e2b0>, line 4)

In [50]:
pd.DataFrame(zip(productIdDict,
             yearweekList,
             volValueList),columns=columnName)

NameError: name 'productIdDict' is not defined

In [52]:
import numpy as np

In [55]:
np.linspace(start = 1, stop = 100, num = 20)

array([  1.        ,   6.21052632,  11.42105263,  16.63157895,
        21.84210526,  27.05263158,  32.26315789,  37.47368421,
        42.68421053,  47.89473684,  53.10526316,  58.31578947,
        63.52631579,  68.73684211,  73.94736842,  79.15789474,
        84.36842105,  89.57894737,  94.78947368, 100.        ])

In [1]:
import numpy as np

In [3]:
np.random.randint(low=0,high=10,size=10)

array([5, 2, 5, 6, 7, 8, 9, 6, 3, 9])

In [5]:
aa=!pip list

In [6]:
import pandas as pd

In [8]:
pd.DataFrame(aa)

                                                     0
0           Package                            Version
1    ---------------------------------- -----------...
2            alabaster                          0.7.12
3             anaconda-client                    1.7.2
4            anaconda-navigator                 1.9.12
..                                                 ...
235          yapf                               0.30.0
236           zict                               2.0.0
237           zipp                               3.1.0
238             zope.event                         4.4
239           zope.interface                     4.7.1

[240 rows x 1 columns]

In [ ]:
# 데이터 프레임 라이브러리 활용
import pandas as pd  

# 데이터프레임 생성
name = ['고진원', '윤연심', '고수민', '고수진']
age=['59','56','31','29']
birth=['07.02','10.16','08.13','09.23']

name_df=pd.DataFrame(name,columns=['name'])
name_df2=pd.DataFrame(age,columns=['age'])
name_df3=pd.DataFrame(birth,columns=['birth'])

final = pd.concat([name_df,name_df2,name_df3], axis=1)
final

In [17]:
# 데이터 프레임 라이브러리 활용
import pandas as pd

In [18]:
# 데이터프레임 생성
name = ['고진원', '윤연심', '고수민', '고수진']
age=['59','56','31','29']
birth=['07.02','10.16','08.13','09.23']

In [19]:
name_df=pd.DataFrame(name,columns=['name'])
name_df2=pd.DataFrame(age,columns=['age'])
name_df3=pd.DataFrame(birth,columns=['birth'])

In [20]:
final = pd.concat([name_df,name_df2,name_df3], axis=1)
final

  name age  birth
0  고진원  59  07.02
1  윤연심  56  10.16
2  고수민  31  08.13
3  고수진  29  09.23

In [1]:
## 미션 1. 모든 데이터에 "LEDTV_"를 붙여라

In [2]:
targetList = ["UN001","UN002","UN003","UN004"]
preFix = "LEDTV_"

In [3]:
targetList[0]=preFix+targetList[0]
targetList[1]=preFix+targetList[1]
targetList[2]=preFix+targetList[2]
targetList[3]=preFix+targetList[3]

In [4]:
i=0

In [5]:
# while문의 헤더의 종결점은 ":" 써줘야한다.
# 구문은 탭 들여쓰기를 해야한다.
while(i < 4) :
    targetList[i] = preFix + targetList[i]
    # while문은 반복문 마지막에 자동증가 안해줌
    i = i + 1

In [6]:
targetList

['LEDTV_LEDTV_UN001',
 'LEDTV_LEDTV_UN002',
 'LEDTV_LEDTV_UN003',
 'LEDTV_LEDTV_UN004']

In [53]:
targetListLen = len(targetList)

In [54]:
list(range(0,4))

[0, 1, 2, 3]

In [63]:
# i를 0부터 4까지 1씩 증가를 시킨다.
# for문의 헤더가 끝나는 지점은 ":"을 써줘야한다.
# 구문은 tab 들여쓰기로 컴퓨터가 인식하게 해준다.
for i in range(0, targetListLen): #for문 헤더
    targetList[i] = preFix + targetList[i]

In [64]:
targetList

['LEDTV_LEDTV_LEDTV_LEDTV_LEDTV_UN001',
 'LEDTV_LEDTV_LEDTV_LEDTV_UN002',
 'LEDTV_LEDTV_LEDTV_LEDTV_LEDTV_UN003',
 'LEDTV_LEDTV_LEDTV_LEDTV_UN004']

In [38]:
tvList2 = ["UN40EN001", "UN40EN002", "UN40EN003", "UN40EN004"]

In [39]:
tvList2Len = len(tvList2)

In [40]:
for i in range(0,tvList2Len):
     print(tvList2[i])

UN40EN001
UN40EN002
UN40EN003
UN40EN004

In [52]:
scoreLabel = "D"

In [53]:
score = 60

In [54]:
# 점수가 50점 미만인 경우
if score < 50:
    scoreLabel = "C"
elif score < 80:
    scoreLabel = "B"
else : 
    scoreLabel = "A"

In [55]:
scoreLabel

'B'

In [56]:
testModel = "UN40EN001"
preFix = "LEDTV_"

# preFix가 없으면 붙여라
if testModel.count(preFix)==0:
    testModel = preFix + testModel  # 탭 들여쓰기!!
else:
    pass

In [ ]:
# Step1 : 리스트에 있는 데이터를 하나씩 확인하자
# Step2 : 리스트 아이템 별 prefix 개수를 확인하자
# Step3 : preFix >=2 "LEDTV_LEDTV_UN" 
#                     LEDTV_를 전부 공백으로 REPLACE (전부 없앤다)
#                     앞에 prefix를 붙이자
#         preFix == 1   pass
#         preFix < 1    prefix를 붙이자

In [ ]:
SCORE 변수를 80으로 선언 후
90점이상 A, 80~90점 B, 이외 C 점수로
GRADE변수에 할당하는 프로그램을 구현하세요

In [65]:
# 변수 설정
score = 80

# if문 사용
if score >= 90:
    grade = "A"
elif score >= 80:
    grade = "B"
else : 
    grade = "C"
    
print(grade)

B

In [61]:
score = 80

In [62]:
if score >= 90:
    grade = "A"
elif score < 80:
    grade = "B"
else : 
    grade = "C"

In [63]:
grade

'C'

In [ ]:
tvList2 = [ 'UN40EN001', 'LEDTV_UN40EN002',
'LEDTV_LEDTV_UN40EN003’, ‘ledtv_UN40EN004’]
리스트에서 LEDTV_가 한 개만 앞에 붙도록 하세요
(* 대소문자 구분없이 전부 처리!)

In [28]:
tvList2 = [ 'UN40EN001', 'LEDTV_UN40EN002', 'LEDTV_LEDTV_UN40EN003', 'ledtv_UN40EN004']
preFix = "LEDTV_"
preFix1 = "ledtv_"

In [30]:
# for문 타입 지정 및 리스트 길이 변수 지정타입 지정 및 리스트 길이 변수 지정
tvList2 = [ 'UN40EN001', 'LEDTV_UN40EN002', 'LEDTV_LEDTV_UN40EN003', 'ledtv_UN40EN004']
preFix = "LEDTV_"
preFix1 = "ledtv_


for i in range(0, len(tvList2), 1):
    
    if tvList.count(preFix)>=2:
        tvList2[i] = tvList.replace(preFix,"")
        tvList2[i] = preFix + tvList2[i]
    elif tvList.count(preFix) == 1:
        pass
    else: tvList2[i] = preFix + tvList2[i]

print(tvList2)

['LEDTV_LEDTV_UN40EN001', 'LEDTV_LEDTV_LEDTV_UN40EN002', 'LEDTV_LEDTV_LEDTV_LEDTV_UN40EN003', 'LEDTV_LEDTV_ledtv_UN40EN004']

In [24]:
if tvList.count(preFix)==2:
    tvList2[i] = tvList.replace(preFix,"")
    tvList2[i] = preFix + tvList2[i]
elif tvList.count(preFix) == 1:
    pass
else:
    tvList2[i] = preFix + tvList2[i]

In [9]:
tvList

'LEDTV_UN40EN004'