In [1]:
import pandas as pd
import numpy as np

In [58]:
csData = pd.read_csv("../dataset/customerdata.csv", encoding = "ms949")

In [59]:
csData.dtypes

CUSTID          object
AVGPRICE       float64
EMI              int64
DEVICECOUNT      int64
PRODUCTAGE     float64
CUSTTYPE        object
dtype: object

In [60]:
csData2 = csData.loc[(csData.EMI >= 3) & (csData.AVGPRICE > 3500)]

In [61]:
emiCondition = "3"
priceCondition = "3500"

In [62]:
csData2 = csData.loc[(csData.EMI.astype(str) >= str(emiCondition))&
                     (csData.AVGPRICE.astype(str) > str(priceCondition))]

In [63]:
csData2

     CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0    A13566  4273.900000    3            6    1.679181  Big-Screen-lover
33   G16437  3787.328898    3            6    1.000000        Early-bird
40   H16326  3988.935304    3            6    0.900000        Early-bird
51   J10809  3676.135627    3            6    0.800000        Early-bird
67   N13273  3839.694732    3            6    1.100000        Early-bird
95   R16364  3592.353540    3            6    0.900000        Early-bird
107  S17396  3895.200000    3            6    2.055707  Big-Screen-lover
113  T11473  4165.700000    3            6    1.780674  Big-Screen-lover
126  V18566  3527.701867    3            6    0.900000        Early-bird
130  W13404  4296.873743    3            6    1.100000        Early-bird
146  Z13534  3662.437527    3            6    0.900000        Early-bird

In [64]:
csData2.dtypes

CUSTID          object
AVGPRICE       float64
EMI              int64
DEVICECOUNT      int64
PRODUCTAGE     float64
CUSTTYPE        object
dtype: object

In [50]:
testDF = ["A"]

In [51]:
angryCustomer = pd.DataFrame(list(csData.CUSTID[0:3]), columns = ["CSID"])

In [53]:
angryCustomer.head(1)

     CSID
0  A13566

In [54]:
angryList = list(angryCustomer.CSID)

In [55]:
csData.loc[csData.CUSTID.isin(angryList)]

   CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE  EMI2
0  A13566  4273.900000    3            6    1.679181  Big-Screen-lover   3.0
1  A14219  3642.441950    2            4    2.682023      Sleeping-dog   2.0
2  A15312  3653.884565    2            5    3.208202      Sleeping-dog   2.0

In [56]:
csData.loc[~csData.CUSTID.isin(angryList)]

     CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE  EMI2
3    A16605  3713.211107    2            6    0.900000        Early-bird   2.0
4    B10634  3391.074215    2            4    2.453656      Sleeping-dog   2.0
5    B16849  3755.263391    2            4    2.786665      Sleeping-dog   2.0
6    B18816  3213.911446    2            6    0.900000        Early-bird   2.0
7    C10639  3516.500000    2            5    2.564830  Big-Screen-lover   2.0
..      ...          ...  ...          ...         ...               ...   ...
145  Z13253  3678.800000    2            5    2.463670  Big-Screen-lover   2.0
146  Z13534  3662.437527    3            6    0.900000        Early-bird   3.0
147  Z16428  3516.500000    2            5    2.371301  Big-Screen-lover   2.0
148  Z16735  3300.100000    2            5    1.704942  Big-Screen-lover   2.0
149  Z19835  3326.526183    2            6    1.200000        Early-bird   2.0

[147 rows x 7 columns]

In [44]:
customerData = csData

In [45]:
customerData.dtypes

CUSTID          object
AVGPRICE       float64
EMI              int64
DEVICECOUNT      int64
PRODUCTAGE     float64
CUSTTYPE        object
dtype: object

In [46]:
customerData["EMI2"] = customerData["EMI"].astype(float)

In [47]:
csDataTypeStr = customerData.astype({"CUSTID" : str, 
                                     "AVGPRICE" : str, 
                                     "EMI" : str, 
                                     "DEVICECOUNT" : str, 
                                     "PRODUCTAGE": str, 
                                     "CUSTTYPE" : str, 
                                     "EMI2" : str})

In [48]:
csDataTypeStr.dtypes

CUSTID         object
AVGPRICE       object
EMI            object
DEVICECOUNT    object
PRODUCTAGE     object
CUSTTYPE       object
EMI2           object
dtype: object